* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotsek', sans-serif;
  color: rgb(234, 234, 234);
}

nav ul {
  list-style: none;
}

/* BASE STYLE */
body {
  background-color: rgb(18, 18, 18);
}

/* NORMAL STYLES */
.header {
  background-color: rgb(0, 0, 0, .4);
  border-bottom: 3px solid rgb(0, 157, 255, .4);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}

.nav-list {
  display: flex;
  column-gap: 30px;
  margin-left: 300px;
  letter-spacing: 1.5px;
}

.nav-link {
  font-size: 15px;
  transition: all 0.2s;
}

.nav-link:hover {
  color: rgb(0, 157, 255);
  cursor: pointer;
}

.active {
  color: rgb(0, 157, 255);
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOME */
.section:nth-child(1) {
  background: blue;
  margin: 0 -100px;
}

/* EXPERIENCE */
.section:nth-child(2) {
  background: green;
}

/* PROJECTS */
.section:nth-child(3) {
  background: purple;
}

/* RESUME */
.section:nth-child(4) {
  background: orange;
}

/* CONTACT */
.section:nth-child(5) {
  background: silver;
}