* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotsek', sans-serif;
  color: rgb(234, 234, 234);
}

nav ul {
  list-style: none;
}

/* BASE STYLE */
body {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)), url('images/Targon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* NORMAL STYLES */
.header {
  background-color: rgb(0, 0, 0, .4);
  border-bottom: 3px solid rgb(0, 157, 255, .4);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}

.nav-list {
  display: flex;
  column-gap: 30px;
  margin-left: 300px;
  letter-spacing: 1.5px;
}

.nav-link {
  font-size: 15px;
  transition: all 0.2s;
}

.nav-link:hover {
  color: rgb(0, 157, 255);
  cursor: pointer;
}

.active {
  color: rgb(0, 157, 255);
}

.main {
  margin: 0 auto;
}

.section {
  height: 100vh;
  display: flex;
  
}

/* HOME */
.section:nth-child(1) {
  /* background-color: purple; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-size: 25px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: -150px;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.left-column-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 20px;
}

.profile_pic {
  border-radius: 50%;
  width: 300px;
  border: 1px solid white;
}

.profile_name {
  font-size: 40px;
  padding-top: 20px;
  letter-spacing: 0.7px;
}

.right-column-about {
  flex: 1;
}

.title-description {
  font-size: 23px;
  margin-bottom: 20px;
}

.description-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.description-me {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* EXPERIENCE */
.section:nth-child(2) {
  /* background-color: blue; */
  justify-content: center;
  align-items: center;
}

.experience-title {
  font-size: 25px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 80px;
  margin-top: -120px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.job-description {
  display: flex;
  margin-bottom: 20px;
}

.title-experience {
  flex: 1;
  margin-bottom: 10px;
  padding-right: 100px;
}

.experience-name {
  font-size: 28px;
}

.description-experience {
  flex: 2;
  padding-bottom: 20px;
}

.title-experience-description {
  font-size: 20px;
  font-style: italic;
  padding-bottom: 10px;
}


/* PROJECTS */
.section:nth-child(3) {
  /* background: purple; */
  justify-content: center;
  align-items: center;
}

.projects-title {
  font-size: 25px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 80px;
  margin-top: -120px;
}

.project-card {
  background-color: white;
  border: 1px solid brown;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;

}

.link-to-project {
  color: rgb(0, 157, 255);
  font-size: 24px;
}

.github-repo {
  font-size: 20px;
  color: gray;
}

/* RESUME */
.section:nth-child(4) {
  /* background: orange; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resume-container {
  display: inline-block;
}

.resume-actual img {
  max-width: 40%;
  height: auto;
}

/* CONTACT */
.section:nth-child(5) {
  /* background: silver; */
  justify-content: center;
  align-items: center;
}