.navbar {
    background: rgb(3, 11, 16);
    height: 5rem;
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    font-size: 1.1rem;
    /* border-bottom: 2px solid rgb(30, 165, 248); */
}

.desktopMenuListItem {
    margin: 0px 2rem 0px 0px;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: rgb(30, 165, 248);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(30, 165, 248);
    transition: 0.3s;
}

.githubButton {
    font-size: 1rem;
    color: black;
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 15px;
}

.githubButton:hover {
    color: rgb(30, 165, 248);
    background-color: rgb(234, 234, 234);
    cursor: pointer;
    transition: 0.2s;
}